<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cy"
    android:installLocation="auto"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    
    <application
        android:name="com.example.global.BaseApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.activitytest.MainActivity"
            android:label="@string/app_name"
             >
             <!-- android:launchMode="singleTask" --> <!-- 这里不能设置为singleTask -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.example.activitytest.action.test1"/>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.activitytest.Activity_A"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            >
            <intent-filter>
                <action android:name="com.example.activitytest.action.test"/>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
         <!-- <activity
            android:name=".GNHomeActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="gn.com.android.gamehall.action.HOME" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity> -->
        
        <activity
            android:name="com.example.activitytest.Activity_B"
            android:label="@string/app_name"
            android:launchMode="singleTask" >
        </activity>
        <activity
            android:name="com.example.activitytest.Activity_C"
            android:label="@string/app_name"
            android:launchMode="singleTask" >
        </activity>
        <activity
            android:name="com.example.activitytest.Activity_D"
            android:label="@string/app_name"
            android:launchMode="singleTask" >
        </activity>
        <activity
            android:name="com.example.touchevent.TouchEventTestActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask" >
        </activity>

        <!--
        <receiver
            android:name="com.veclink.global.DeviceStateReceiver"
            android:exported="true"  >

            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.net.wifi.RSSI_CHANGED" />
                电话的信号强度已经改变。 
                <action android:name="android.intent.action.SIG_STR" ></action>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REPLACED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />
                <action android:name="android.intent.action.ACTION_PACKAGE_CHANGED" />
                <action android:name="android.intent.action.PACKAGE_DATA_CLEARED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>
        -->
        
        <receiver 
            android:name="com.example.receiver.TestActivityJumpReceiver"
            android:exported="true"
            >
            
            <intent-filter >
                <action android:name="com.cy.test.activityjump"></action>
            </intent-filter>
            
        </receiver>

    </application>

    <!-- <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" /> -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

</manifest>