<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cy.test"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="23" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_ALL_DOWNLOADS" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.EXPAND_STATUS_BAR" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="com.gionee.cloud.permission.CHANGE_RECORD" />

    <application
        android:name="com.cy.global.SampleApplication"
        android:allowBackup="true"
        android:debuggable="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.cy.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.cy.imageloadertest.ImageLoaderActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.cy.downloadtest.DownloadActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.cy.slide.SlideViewActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.cy.uiframetest.receclerview.RececlerViewActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.cy.uiframetest.main.UIFrameMainActivity"
            android:label="@string/app_name" >
        </activity>
        
        <service android:name="com.cy.frame.downloader.downloadmanager.DownloadService" >
            <intent-filter>
                <action android:name="game.intent.action.DOWNLOAD_SERVICE" />
            </intent-filter>
        </service>
    </application>

</manifest>